n8n-workflows/gmail-sender-workflow.json
{
  "name": "Gmail Email Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-gmail",
      "name": "Webhook - Email Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "send-email"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "send",
        "toList": "={{ $json.to }}",
        "ccList": "={{ $json.cc || '' }}",
        "bccList": "={{ $json.bcc || '' }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "priority": "={{ $json.priority || 'normal' }}"
        }
      },
      "id": "gmail-send",
      "name": "Gmail - Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"messageId\": $json.id, \"to\": $json.labelIds, \"subject\": \"{{ $('Webhook - Email Request').item.json.subject }}\", \"sentAt\": new Date().toISOString() } }}"
      },
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.message || 'Failed to send email', \"details\": $json } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "response-error",
      "name": "Response - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook - Email Request": {
      "main": [
        [
          {
            "node": "Gmail - Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Email": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Response - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "gmail-sender-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "gmail-sender",
  "tags": []
}